CELERY_BROKER_URL="redis://:KZNkYLt3U3Zmtm7q@redis:6379/0"
CELERY_RESULT_BACKEND="redis://:KZNkYLt3U3Zmtm7q@redis:6379/1"
KUBECTL_NEAT_BIN="/usr/local/bin/kubectl-neat"
KUBENEAT_RUNTIME_DIR="/data/runtime"
