CELERY_BROKER_URL="redis://:KZNkYLt3U3Zmtm7q@redis:6379/0"
CELERY_RESULT_BACKEND="redis://:KZNkYLt3U3Zmtm7q@redis:6379/1"
DATABASE_URL="postgresql+psycopg://kubeneat:kubeneat@postgres:5432/kubeneat"
KUBECTL_NEAT_BIN="/usr/local/bin/kubectl-neat"
KUBENEAT_RUNTIME_DIR="/data/runtime"
KUBENEAT_INITIAL_ADMIN_USERNAME="admin"
KUBENEAT_INITIAL_ADMIN_PASSWORD="ChangeMe123!"
KUBENEAT_INITIAL_ADMIN_EMAIL="admin@example.com"
CLOUDFLARE_TURNSTILE_REQUIRED="true"
CLOUDFLARE_TURNSTILE_SECRET_KEY=""
